.user_forms-add {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 600px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transform: translate3d(100%, -50%, 0);
  transition: transform 0.4s ease-in-out;
}
.user_options-add {
  min-height: 600px;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user_options-add .forms_title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1em;
  text-transform: uppercase;
  color: #160642;
  letter-spacing: 0.1rem;
}

.user_options-forms .forms_field:not(:last-of-type) {
  margin-bottom: 15px;
}
.user_options-forms .forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}

.form-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: rgb(24, 21, 21);
  margin-left: 5px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: rgb(24, 21, 21);
  margin-left: 5px;
}

.radio-buttons input {
  align-self: center;
  margin-left: 25px;
}

.user_options-add .forms-date {
  align-items: flex-start;
}
.user_options-add .forms_field-input:focus {
  border-color: rgb(82, 72, 110);
}
.user_options-add .forms_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user_options-add .forms_buttons-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: rgb(10, 10, 10);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.user_options-add .forms_buttons-forgot:hover {
  color: #ffcd04;
}
.user_options-add .forms_buttons-action {
  background-color: #008594;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}
.user_options-add .forms_buttons-action:hover {
  background-color: #ffcd04;
}
.user_options-add .user_forms-signup,
.user_options-add .user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.5s ease-in-out;
}
.user_options-add {
  transform: translate3d(120px, 0, 0);
}
.user_options-add .forms_buttons {
  justify-content: flex-end;
}
.user_options-add {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 990px) {
  .user_options-add {
    min-height: 350px;
    margin-top: 30px;
  }
  .user_options-add .forms_buttons {
    flex-direction: column;
  }
  .user_options-add {
    margin-top: 30px;
  }
}
