.viewuser {
  position: relative;
  font-size: large;
}

.user-info h4 {
  margin-top: 10px;
  color: #06393f;
}
.viewuser-icon {
  margin-top: 20px;
  text-align: center;
}

.viewuser-icon img {
  width: 100px;
  height: 100px;
}
