.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.dashboard{
    width:100%;
    display: flex;
    flex-direction: column;
}


.home-main {
  margin-top: 100px;
  margin-left: 50px;
  display: inline-flex;
}

.home-main h1 {
  width: 300px;
}
.home-news {
  margin-left: 100px;
  width: 600px;
}

.home-news h3 {
  border-style: solid;
  border-color: #008594;
  height: 30px;
  text-align: left;
  background-color: #008594;
  color: aliceblue;
}

.home-news-table {
  border-style: ridge;
  width: 600px;
  height: 100px;
  text-align: center;
}