.user-main {
  height: calc(100vh - 70px);
  background-color: #fafafa;
  width: 250px;
  border-color: #fafafa;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 14px 0px;
}

.user-main-profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-main-profile img {
  width: 200px;
  height: 200px;
}

.user-main-info {
  align-self: flex-start;
  padding-left: 10%;
}
.user-main-info ul li {
  font-family: "Georgia", Serif;
  color: #000000;
  list-style: none;
  font-size: 15px;
  padding-bottom: 25px;
}

Link,
a {
  font-family: "Georgia", Serif;
  color: #000000;
  list-style: none;
  font-size: 15px;
  padding-bottom: 25px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
a:hover {
  color: #008594;
}
.used-link{
   color: #ffcd04;
}

/*@media screen and (max-width: 600px) {*/
/*  .user-main {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*  }*/
/*  .user-main-profile img {*/
/*    display: none;*/
/*  }*/
/*  .user-main-info {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: baseline;*/
/*    margin-top: -50px;*/
/*  }*/
/*}*/
