.users_list{
    width: 100%;

}
.users_list_table{
    font-size: 20px;
}
.users_list_info{
    font-size: 15px;
}

.users_list_table th {
    color: #028594;
    font-weight: bold;
}

.users_desc {
    text-align: center;
    padding: 20px 40px;
}

.actions_buttons {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.new_user button {
  background-color: #028594;
  color: white;
  width: 150px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
}

.new_user_field button:hover {
  background-color: #ffcd05;
}
.no-users {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: -72px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #028594;
}


