main {
  width: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.users_list {
  width: 82vw;
  min-height: 600px;
  margin-left: 50px;
  height: 500px;
  background-color: #ebebeb;
  display: flex;
  box-shadow: 5px 5px 15px 3px #777575;
  padding: 20px 20px;
  border-radius: 20px;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
}

.users_list_table th {
  color: #028594;
  font-weight: bold;
}

.users_list_info {
  text-align: center;
}
.users_list_info td {
  padding: 20px 20px;
}
.users_list_info td img {
  width: 20px;
  height: 20px;
}

.imageTd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageTd img {
  margin: 0px 0px 5px 0px;
}
.actions_buttons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.new_user {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.new_user button {
  background-color: #028594;
  color: white;
  width: 150px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.new_user_field button:hover {
  background-color: #ffcd05;
}
.no-users {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: -72px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #028594;
}
